<div class="main">
  <div class="row">
    <div class="col-12">
      <button class="btn pm" (click)="archiveMap()">Archive <i class="material-icons">archive</i></button>

      <div class="form-row">
        <p class="col-4">
          Project:
          <select class="form-control" [(ngModel)]="selectedProject" id="project" (change)="onChangeProject()">
            <option disabled>Select a project</option>
            <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
          </select>
        </p>
      </div>
      <p>
        Description: <span [(inlineEdit)]="map.description" (valueChanged)="onMapUpdate()" *ngIf="map">    </span>
      </p>
      <hr class="my-4">
      <p>Created at: {{ map?.createdAt | date: 'short'}}</p>
      <p>
        Licence: <span [(inlineEdit)]="map.licence" (valueChanged)="onMapUpdate()" *ngIf="map"></span>
      </p>
    </div>
  </div>
</div>
