<div class="header">

  <h1>
    <span [(inlineEdit)]="map.name" (valueChanged)="edited=true" *ngIf="map">{{map.name}}</span>
    <span *ngIf="map?.archived">(archived)</span>
    <span *ngIf="structuresList[0] && mapStructure?.id !== structuresList[0].id && structureIndex < structuresList.length">
      (<i class="material-icons">history</i> {{ structureIndex }}/{{ structuresList.length }})
    </span>
  </h1>
</div>

<div class="map-nav">

  <div class="action-buttons">
    <a *ngIf="map && downloadJson" [href]="downloadJson"  download="{{map.name}}.json" class="btn pm">Export</a>
  </div>

  <ul class="nav justify-content-center">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['properties']">Properties</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['edit', 'design']">Design</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['edit', 'code']">Code</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['results']">Execution Results</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['revisions']">Revisions</a>
    </li>

  </ul>

  <div class="action-buttons">
      <!--<button type="button" class="btn" (click)="discardChanges()" *ngIf="edited || structureEdited" disabled>Discard</button>-->
      <button type="button" class="btn" (click)="saveMap()" *ngIf="!edited && !structureEdited" disabled>Saved</button>
      <button type="button" class="btn" (click)="saveMap()" *ngIf="edited || structureEdited">Save</button>
      <button class="btn" (click)="executeMap()">Execute <span *ngIf="executing"><i class="fa fa-spinner fa-pulse fa-fw"></i></span> </button>
      <select [(ngModel)]="selected">
        <option *ngIf="mapStructure?.configurations?.length === 0">No configs</option>
        <option (change)="changeSelected(i)" [value]="item.name" *ngFor="let item of mapStructure?.configurations">
          {{item.name | truncatechars: 8}}
        </option>
      </select>
    </div>
</div>



<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>
