@import "~assets/sass/base";
@import "~assets/sass/mixins";
@import "~assets/sass/variables";


.map-nav {
  height: 70px;
  border-top: 1px solid $cool-grey;
  border-bottom: 1px solid $cool-grey;
  display: flex;
  align-items: center;

  ul.nav {
    flex-grow: 1;
    height: 100%;

    .nav-item {
      display: flex;
      align-items: center;

      &.active {
        border-bottom: 5px solid $turquoise-blue;
      }
    }
  }

  .action-buttons {
    //flex : 0 0 30%;
    padding : 0 15px;

    .btn {
      padding: 5px 29px 5px 29px;
      color: $text-color;
      background: transparent;
      border-radius: 20px;
      border: 2px solid $turquoise-blue;
      &:hover {
        cursor: pointer;
        background: $turquoise-blue;
        color: $background;
        font-weight: bolder;
      }
    }

    > *:not(:first-child){
      margin-left: 10px;
    }

    &:last-of-type{
      display: flex;
      justify-content: flex-end;
    }
  }

}

.header {
  height: 48px;
  padding: 15px;
  h1 {
    font-size: 20px;
    line-height: 18px;
    color: $text-color;

  }
}

.router-wrapper {
  display: flex;
  flex-grow: 1;

  ::ng-deep > *:not(router-outlet) {
    display: flex;
    flex-grow: 1;
  }
}
