@import "~assets/sass/variables";

.row {
  flex-grow: 1;
  margin-left: 0;
  flex-wrap: initial;
  margin : 0;

  .side-nav {
    background: $dark-background;
    border-right: 1px solid $cool-grey;
    width : 60px;
  }
  .main-content {
    flex-grow: 1;
    display: flex;

    ::ng-deep{
      > *:not(router-outlet){
        display: flex;
        flex-grow: 1;
      }
    }
  }
}

ul.nav {
  align-items: center;
  li.nav-item {
    margin-bottom: 15px;
    a.nav-link {
      color: $unselected-env-nav;
      font-size: 24px;
      i {
        width: 24px;
        height: 24px;
      }
      &:hover {
        color: $turquoise-blue;
        cursor: pointer;
      }

    }

    &.active {
      background: $selected-tab-environment;
      a.nav-link {
        color: $turquoise-blue
      }
    }
  }
}
