@import "~assets/sass/variables";
.bg-dark {
  background: $dark-background !important;
}
.raw-output {
  max-height: 140px;
  border: 1px solid $cool-grey;
  overflow-y: scroll;
  padding: 15px 13px 15px 13px;
}
