<div class="main">
  <h1 class="section-title">Agents</h1>
  <div class="row">
    <div class="col-3">
      <app-groups [agents]="agentsStatus"></app-groups>
    </div>
    <div class="col-9">
      <h5>Agents</h5>
      <table class="table">
        <thead>

        <tr>
          <th scope="col">Name</th>
          <th scope="col">Url</th>
          <th scope="col">Attributes</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of agents | in: selectedGroup?.agents; let i = index" pDraggable="dd"
            (onDragStart)="dragStart($event, item)">
          <td>
            <div>
              <i [ngClass]="{'text-success': agentsStatus[item?.key]?.alive, 'text-danger': !agentsStatus[item?.key]?.alive}"
              *ngIf="agentsStatus" class="material-icons">cloud_circle</i>
              {{item.name}}
            </div>
          </td>
          <td>{{item.url}}</td>
          <td>{{item.attributes}}</td>
          <td>
            <button class="btn btn-link" (click)="deleteAgent(item._id)"><i class="material-icons">delete</i></button>
            <button class="btn btn-link" (click)="editAgent(i)"><i class="material-icons">edit</i></button>
            <button class="btn btn-link" (click)="removeAgentFromGroup(item._id, selectedGroup._id)"
                    *ngIf="selectedGroup"><i class="material-icons">close</i></button>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
