<!-- month header -->
<div class="d-flex justify-content-center">
  <div
    class="month-control"
    mwlCalendarPreviousView
    [view]="'month'"
    [(viewDate)]="viewDate"
    (viewDateChange)="activeDayIsOpen = false">
    <i class="material-icons">chevron_left</i>
  </div>
  <h3 class="section-sub-title">{{ viewDate | calendarDate:('month' + 'ViewTitle'):'en' }}</h3>
  <div
    class="month-control"
    mwlCalendarNextView
    [view]="'month'"
    [(viewDate)]="viewDate"
    (viewDateChange)="activeDayIsOpen = false">
    <i class="material-icons">chevron_right</i>
  </div>
</div>

<!-- cell template -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
</ng-template>

<ng-template #eventTemplate let-events="events" let-locale="locale">
  <div *ngFor="let event of events; let i = index" class="event">
    <span [ngClass]="{'text-info': event.job.type === 'once', 'text-warning': event.job.type !== 'once'}"
          class="text-info"><i class="material-icons">{{event.job.type === 'once' ? 'schedule' : 'repeat'}}</i></span>
    <span>{{ event.title }}</span>
    <span *ngIf="event.datetime">{{ event.datetime | date: 'shortTime' }}</span>
    <span *ngIf="event.job.cron">{{ event.job.cron }}</span>
    <span class="button"><i class="material-icons" (click)="deleteJob(event.job.id)">delete</i></span>
  </div>
</ng-template>

<!-- calendar -->
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [activeDayIsOpen]="activeDayIsOpen"
  [refresh]="refreshCalendar"
  [cellTemplate]="customCellTemplate"
  [openDayEventsTemplate]="eventTemplate"
  (dayClicked)="dayClicked($event.day)">
</mwl-calendar-month-view>

