// colors
$text-font-size: 13px;
$light-color: #fff;
$dark-color: #888;
$error: #FF2B1A;
$primary-color: #007bff;


$grey-dark-1: #2B2B2B; // main editor
$grey-dark-2: #3C3F41; // inputs
$grey-dark-3: #3C3F41; // sidebar
$grey-dark-4: #313335; // grey-headers
$grey-dark-5: #2d2f30; // selected
$grey-light-1: #87939A; // light text
$blue-light-1: #3E87A1;
$blue-dark-1: #424d5f; // headers
$blue-dark-2: #0d293e; // headers
$red-light-1: #B04546;
$purple-light-1: #9973af;
$green-light-1: #619150;
$green-light-2: #2fab4e;
$orange-light-1: #dd9b37;


// new coloring
$turquoise-blue: #02a7c7; // sidebar, highlighted text
$selected-nav: #027ea3;
$text-color: #ffffff;
$card-background: #3f4247; // charcoal-grey
$input-border: #4c5053; // input border
$input-bg: #3f4247; // inputs bg;
$hover-card: #4b4e54; // gunmetal
$cool-grey: #4c5156; // table-borders
$greyish-text: #dddddd; // table-borders
$hover-color: #272c2f; // table-hover
$dark-background: #22272c; // map-designer, enviroment pane;
$pane-header-background: #3f4247;
$unselected-env-nav: #6f7172; // environment nav
$selected-tab-environment: #2d3236; // selected environment tab
$background: #2d3236; // table-hover
// spacing
$padding: 5px;


//
