@import '~assets/sass/variables';

.root {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: initial;

  .pm-sidebar {
    width : 80px;
    max-width: 80px;
    flex-grow: 1;
    background-color: $turquoise-blue;
    display: flex;
    flex-direction: column;
    padding: 40px 5px 0;
    align-items: center;

    img {
      width: 40px;
      margin-bottom: 30px;
    }

  }
  .main {
    padding: 0px;
    flex-grow: 1;
    display: flex;

    ::ng-deep >*:not(router-outlet){
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.nav {
  align-items: center;
  li.nav-item {
    margin-bottom: 15px;
    border-radius: 5px;
    &.active, &:hover {
      background: $selected-nav;
    }
    a.nav-link {
      color: $text-color;
      font-size: 24px;
      i {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.search {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $background;
  border-right: 1px solid $selected-nav;
  padding : 0 30px;
}