@import "~assets/sass/mixins";

.main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 35px;
  margin-top: 39px;
  .featured {
    width: 100%;
  }
}

.filter {
  h5 {
    padding-bottom: 15px;
  }
  @include searchBox();
}
