@import "~assets/sass/base";

.bottom-section {
  @extend .btn-clock-bottom;
}

.btn.btn-link {
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;

  >span, >table{
      display: block;
      flex-grow: 1;
  }

  .bottom {
    align-self: center;
    margin-bottom: 30px;

    button {
      border-radius: 25px;
      background: transparent;
      border: 4px solid $turquoise-blue;
      &:hover {
        background: $turquoise-blue;
        color: #000;
      }
    }
  }
}
