<div class="container">
  <span *ngIf="!triggers || triggers?.length === 0">No triggers yet.</span>

  <table class="table" *ngIf="triggers?.length > 0">
    <tbody>
    <tr *ngFor="let trigger of triggers; let i = index;">
      <td>{{ trigger.name }}</td>
      <td>
        <button type="button" class="btn btn-link" (click)="openTriggerFormModal(i)">
          <i class="material-icons">mode_edit</i>
        </button>
        <button type="button" class="btn btn-link" (click)="removeTrigger(i)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="bottom">
    <button type="button" class="btn btn-primary btn-block" (click)="openTriggerFormModal()">Create new trigger</button>
  </div>
</div>
