@import "~assets/sass/variables";

//.bottom {
//  position: absolute;
//  bottom: 35px;
//  left: 200px;
//  button {
//    border-radius: 25px;
//    background: transparent;
//    border: 4px solid $turquoise-blue;
//    &:hover {
//      background: $turquoise-blue;
//      color: #000;
//    }
//  }
//}

.container {
  height: calc(100% - 43px);
  overflow-y: scroll;
  .agents {
    height: 50%;
  }
  .groups {
    height: 50%;
  }
}
