<div class="main">
  <div class="row">
    <div class="col-12">
      <h1 class="section-title">Projects</h1>
      <h5 class="section-sub-title">Recently added</h5>
    </div>
    <div class="col-12">
      <app-feature [items]="featuredProjects"></app-feature>
    </div>

  </div>

  <div class="pad"></div>

  <div class="filter d-flex justify-content-between align-items-end">
    <h5 class="section-sub-title">All projects</h5>
    <div>
      <i class="material-icons" *ngIf="!filterTerm">search</i>
      <i class="material-icons" *ngIf="filterTerm" (click)="filterTerm = null">close</i>
      <input class="form-control" [(ngModel)]="filterTerm" type="text" placeholder="Filter"
             (keyup)="loadProjectLazy(filterTerm)"/>
    </div>
  </div>

  <p-dataTable [value]="projects" [lazy]="true" [rows]="15" [paginator]="true" [totalRecords]="resultCount"
               (onLazyLoad)="loadProjectLazy($event)" [globalFilter]="filterTerm">
    <p-column field="name" header="Name" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <i class="material-icons" *ngIf="project.archived">archive</i>
        <a [routerLink]="project.id">{{ project.name }}</a>
      </ng-template>
    </p-column>
    <p-column field="description" header="Description" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <span>{{ project.description | truncatechars : 70 : '' }}<span class="etc"
                                                                       *ngIf="project?.description?.length > 70"> ... </span></span>
      </ng-template>
    </p-column>
    <p-column field="createdAt" header="Created" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <span>{{ (project.createdAt | date: 'dd/MM/yyyy') + ' ' +  (project.createdAt | date: 'HH:mm') }}</span>
      </ng-template>
    </p-column>
    <p-column field="updatedAt" header="Updated" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <span>{{ ((project.updatedAt | date: 'dd/MM/yyyy') || '') + ' ' +  ((project.updatedAt | date: 'HH:mm') || '' )}}</span>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
