@import "~assets/sass/base";
@import "~assets/sass/mixins";

.pad {
  margin-top: 25px;
}

.link {
  cursor: pointer;
  &:hover {
    @extend .focus-shadow;
    transition: box-shadow 0.3s ease-in-out;
  }
}

.main {
  margin-left: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 39px;

}

.featured {
  padding-left: 10px;
  padding-right: 10px;
  .card {
    height: 150px;
    overflow-y: hidden;
    .card-body {
      padding: 16px 18px 18px 16px;
      .card-text {
        height: 75px;
        overflow-y: hidden;
        margin: 0;
        line-height: 18px;
      }
    }
  }
}

.filter {
  h5 {
    padding-bottom: 15px;
  }

  @include searchBox();

  input {
    width: 220px;
    height: 34px;
  }

}
